@for (group of groups; track group) {
<div class="card">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div class="card-header">
        <strong>{{group.name}}</strong>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="projects-section">
      <mat-card-content>
        <div class="card-content">
        @for (project of group.projects; track project) {
          <app-project-status [project]="project"></app-project-status>
        }
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
}
