<main>

  <section class="banner">
    <div style="margin-left: 13px;">
      <app-status status="ERROR"></app-status>
      <app-status status="WARN"></app-status>
      <app-status status="UNKNOWN"></app-status>
      <app-status status="OK"></app-status>
    </div>
    <nav>
      <app-icon-svg></app-icon-svg>
      <button mat-button routerLink="/status-page">
        <mat-icon svgIcon="fire"></mat-icon>
        Status Page
      </button>
      <button mat-button routerLink="/notification-settings">
        <mat-icon svgIcon="bell"></mat-icon>
        Notification Settings
      </button>
    </nav>
  </section>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
